body
{
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	display: block;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 1;
    color: #141824;
}
.hide
{
	display: none !important;
}
.offcanvas-backdrop
{
	background-color: unset;
}
.content
{
	min-height: unset;
	padding: 3em;
    	padding-top: 100px;
}
.border-radius
{
	border-radius: 20px;
}
.form-label
{
    margin-bottom: 0.3em;
    font-size: .75em;
    font-weight: 600;
}
a.nav-link
{
    color: rgba(0, 0, 0, 0.65);
}
ul.nav.parent
{
    padding-left: 30px;
}
.dropdown-indicator-icon
{
    width: 15px;
}
.dropdown-item.active, .dropdown-item:active
{
    background-color: #cdcdcd;
}

#offcanvasScrolling li.nav-item
{
    flex: 0 0 auto;
    width: 100%;
}
.navbar-toggler-humburger-icon
{
    height: 2.25rem;
    width: 2.25rem;
    padding: 0.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    border: 0;
    margin-right: 0.6125rem;
}

.offcanvas-backdrop.show
{
	opacity: 0;
}
#sidenavbar:hover
{
	cursor: pointer;  	  
	color: #0076bd;
}
svg.svg-inline--fa
{
    width: 40%;
}
.table > tbody > tr > td:first-child
{
    padding-left: 8px; 
}
.table > tbody > tr > td
{
    padding: 15px !important;
}

[data-dropdown-on-hover] .dropdown-menu::before
{
	display: none;
}

.table-responsive
{
	width: 100%;
}

.navbar .dropdown-item
{
    font-size: 12.8px;
    font-weight: unset;
}

.bg-login
{
	backbground-color: #f5f5f5;
	background-image: url(//portal.nationaldiversitycouncil.org/imgs/portal-header-image-cropped-gradient.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/** dark background blue **/
.bg-dark-blue
{
	background-color: #063861;
}

/**background blue**/
.bg-blue
{
	background-color: #008ac9;
}

.bg-grey
{
	backbground-color: #f5f5f5;
}

/**accent blue **/
.ac-blue
{
	background-color: fff;
}

/**accent green**/
.ac-green
{
	//background-color: #6fb968;
	background-color: #42cc69;
}


/** HEADER MENU SECTION **/
.header-nav a:hover
{
	color: #2c89b3;
}

.header-nav a
{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 20px 10px;
	margin: 10px 0px;
}

.section
{

}

.container
{
	width: 80%;
}

.login-container
{
	height: 100vh;
	margin: auto;

}

.form-container
{
	background-color: white;
	padding: 4em 3em 1em 3em;
	margin: auto;

}

.text-center
{
	text-align: center;
}

.rounded
{
	border-radius: 1em;
}

.small-shadow
{
	box-shadow: 0 0.1em 0.3rem rgba(0, 0, 0, 0.05) !important;
}
.shadow
{
	box-shadow: 0 .25em .3rem rgba(0, 0, 0, 0.15) !important;
	//box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
}

.col-header
{
	padding: 0.75em;
	background-color: #f5f5f5;
	color: #333;
	border-bottom: 1px solid #ddd;
}

.col-xl-6
{
    flex: 0 0 auto;
    width: 33.33333333%;
}



.login-btn-green
{
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #42cc69 !important;
    --bs-btn-border-color: #42cc69 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: # !important;
    --bs-btn-hover-border-color: #6fb968 !important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6fb968 !important;
    --bs-btn-active-border-color: #6fb968 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #42cc69 !important;
    --bs-btn-disabled-border-color: #42cc69 !important;
}







.titanic
{
	float:none;
}

.ghost
{
	opacity: 0;
}
